[2020-03-13 09:43] moodmosaic commented on #370
@kirelagin, what would be the easiest way to reproduce this (cross platform)? [`with-utf8`](https://hackage.haskell.org/package/with-utf8) looks good :+1:

[2020-03-13 11:43] kirelagin commented on #370
Sorry, I haven't looked into details yet, I just know that we were hitting
this, but I am not 100% sure why. My suspicion is that there is an issue
with reading the source code, but I haven't tried to reproduce it yet.
Unfortunately I am a little busy at the moment, but I have this issue on my
to-do list.

I would start by adding a non-unicode comment in the file with tests and
see if it will make

[2020-04-10 04:15] JordanMartinez opened #378 "Port hedgehog to PureScript"
I'm wondering how much interest there would be in porting this library to PureScript. I would like to help. I'm familiar with PureScript, but not so much with Haskell.

[2020-04-10 07:09] moodmosaic commented on #378
Historically, hedgehog was called *jack* :wink:. Make sure you look into @jacobstanley's [purescript-jack](https://github.com/jacobstanley/purescript-jack) in case it helps you get up to speed, but don't use it as a skeleton for purescript-hedgehog.

A few things that aren't on the *jack* repo:

* SplitMix
* Range
* Perf improvements (e.g. in the Shrink module)
* Additions in the Gen module
* and

[2020-04-12 15:37] JordanMartinez commented on #378
Thanks for the response @moodmosaic. I was also asking how much support I could expect when making this port and what kind of support that would be. Is it none at all whatsoever? If so, that's fine, but I'd like to have that clarified.

Regardless, are there any links (even outdated ones) that explain the internals of hedgehog, how it works, and why it works that way?

[2020-04-14 08:43] moodmosaic commented on #378
I'm not sure if there's a precise answer for this. :confused:

* Discovering a bug during the conversion process means opening a GitHub issue
* General questions for parts of the code you don't fully understand can be on Slack(?)

[2020-04-15 00:48] JordanMartinez commented on #378
That'll work!

There's a few things that exist in Haskell that don't yet exist in PureScript (e.g. TemplateHaskell) and other things like that. So, I will likely ask how and why thing work that way in Haskell to see whether we can do the same in PureScript or what other tradeoffs we'll have to make due to JavaScript limiting us in various ways.

So far, the work I've done has been relatively simpl

[2020-04-30 21:46] mitchellwrosen opened #379 "The default formatter seems to swallow this exception"
It's there in the `FailureReport`'s `failureMessage`, but ultimately doesn't make it to the screen. :(

<img width="1230" alt="Screen Shot 2020-04-30 at 5 46 17 PM" src="https://user-images.githubusercontent.com/1074598/80762424-870e0c00-8b0a-11ea-937b-8cb02bc8b6b0.png">

[2020-05-17 14:14] dcastro opened #383 "Proposal: port of quickcheck's within, total, Gen.tuple2"
I was thinking of porting these functions from QuickCheck over to Hedgehog, and wanted to know what the maintainers think first.

Hedgehog module:

[code]

Hedgehog.Gen module:

[code]

[2020-05-18 01:55] moodmosaic commented on #245
Resolved by #382.

Thank you both @dcastro and @chessai.

[2020-05-18 01:55] #245 closed

[2020-05-18 06:59] moodmosaic commented on #383
Thank you, @dcastro :rocket: Let's start with `within` if you wish :eyes: — On the others, for example, the tuples are trivial, so perhaps not really worth the effort(?)

[code]

And for the total one perhaps we need a plan, e.g. should we port is as-is

[code]

or perhaps consider @sjakobi's suggestion in https://github.com/nick8325/quickcheck/issues/265, plus we might need to pickup a better nam

[2020-05-18 20:19] dcastro commented on #383
### tuples
Ah, I keep forgetting about `liftA/M` :sweat_smile: Yea I agree, not worth the effort then!

### total
Good point, we should definitely give the user a better error message. Maybe catch the exception and use something similar to `Hedgehog.Internal.failException`? E.g.

[code]

### total

I'll have a go at implementing `within`. So far I've only been able to implement it in a way that it

[2020-05-19 02:10] HuwCampbell commented on #383
I think I solved within in https://github.com/hedgehogqa/haskell-hedgehog/issues/211

[2020-05-19 22:08] dcastro commented on #383
@HuwCampbell oh awesome! Do you want to go ahead and submit a PR with that? And I'll do `total`/`evalNF` if @moodmosaic is ok with the plan.

On that topic, I'm not sure what the best name would be for `total`/`evalNF`...

[2020-05-20 17:41] sjakobi commented on #383
I've thought about it a bit, but haven't come up with anything better than `total` or just `nf`.

[2020-05-21 21:04] adamwespiser commented on #379
Bump

[2020-05-23 19:38] dcastro commented on #383
@moodmosaic so far we have `total`, `evalNF` and `nf` on the table, does any of these sound reasonable? Personally, I think `evalNF` pairs well with the existing `eval` for whnf, but I'm ok with way.

@HuwCampbell How should we proceed regarding `within`? I wouldn't mind taking over if you don't have the time.

[2020-05-24 08:53] HuwCampbell commented on #383
I can put something up.

[2020-05-26 12:19] moodmosaic commented on #383
@dcastro

Perhaps we should stick with the QC terminology for this one (`total`)? If not, perhaps something with a mix of `eval` and `deepseq`, e.g. `force`, `deepeval`, `evaldeep` 🤔
/cc @jacobstanley

[2020-05-26 16:26] dcastro commented on #383
@moodmosaic Let's go with `total` then :)

One more suggestion if I may, something similar to quickcheck's implication operator ( `==>`):
[code]

[2020-05-28 21:48] moodmosaic commented on #383
I discussed about this with @jacobstanley a few times now (naming can be so hard!)—`evalNF` (your first suggestion) would be better because it also matches with the [`NFData`](https://hackage.haskell.org/package/deepseq/docs/Control-DeepSeq.html#t:NFData) typeclass constraint. :rocket:

(I apologize for going back and forth on that one, it's just that once we release it, it's there forever...)

[2020-05-28 21:48] moodmosaic commented on #383
@dcastro, on `imply`/`==>`, have you tried [`guard`](https://github.com/hedgehogqa/haskell-hedgehog/blob/9c2da54aebbd3cac73c26f3acdbda748d5bf10c0/hedgehog-example/src/Test/Example/Basic.hs#L71)?

[2020-05-29 07:52] dcastro commented on #383
@moodmosaic No problem at all, it's understandable :) Alright, I'll create a PR then.

On `guard`, I was under the false impression that it would fail the test instead of discarding it, but seems I was wrong :D that's good to know, thanks!

[2020-06-03 17:02] andriusstank opened #385 "Shrinking floats often makes failures misleading"
For example, consider this piece of code:
[code]

It produces the following report:
[code]

It looks like a numeric accuracy problem, or tolerance in test is too tight. While in fact the code is completely wrong, given that `f` and `g` were supposed to be equivalent.

The purpose of shrinking is to produce a simpler counterexample that is easier to debug. Though in this case result is opposite - i

[2020-06-03 17:21] Lysxia commented on #385
There could be a shrinker that shrinks towards "simpler"
representations: smaller exponent (in absolute value), fewer digits in
the mantissa (measured as the position of the least significant digit,
to shorten its scientific notation).

[2020-06-03 20:10] JordanMartinez commented on #378
Just wanted to give an update on this rather than leaving this be.

I'm refocusing my time on other projects for the time being. While this is something I want to do at some point, there are other things I should be doing at this stage of my life.

[2020-06-05 20:51] adamwespiser commented on #379
Bump

[2020-06-09 01:17] sellout opened #386 "Odd exception-printing behavior"
We use Bazel for our build, and when I do `bazel run //my/test:target`, I get output like this
[code]
but if I run the executable directly `bazel-bin/code/test`, I get much better output:
[code]
If it were just missing output, I would expect the fault is Bazel's but it seems like there's maybe something in Hedgehog that's affected by the environment it's run in or something? I don't know. Looking

[2020-06-09 01:57] HuwCampbell commented on #386
This looks like a bug to me.

I suspect that [this code path](https://github.com/hedgehogqa/haskell-hedgehog/blob/master/hedgehog/src/Hedgehog/Internal/Report.hs#L628-L630) is being exercised, but the file can't be found. So we're setting the mLocation to Nothing, while also not appending the exception to the messages.

[2020-06-09 01:57] HuwCampbell commented on #386
Likely duplicate of #379.

[2020-06-09 01:58] HuwCampbell commented on #379
I think I know what's causing this; will look into it.

[2020-06-14 07:04] HuwCampbell commented on #379
<img width="830" alt="Screen Shot 2020-06-14 at 5 01 23 pm" src="https://user-images.githubusercontent.com/5205457/84587261-e9c02a80-ae60-11ea-9d86-03ce240c8f53.png">

This seems better, I'll put up a PR.

[2020-06-17 08:32] #379 closed

[2020-06-17 08:32] #386 closed

[2020-06-23 06:42] tmcgilchrist commented on #378
@JordanMartinez Curious if you got to a usable point with your port and whether there is any advantage in sharing the code?

[2020-06-23 13:48] JordanMartinez commented on #378
@tmcgilchrist No, not to a usable state. See [this repo's `purescriptPort` branch](https://github.com/JordanMartinez/purescript-hedgehog/tree/purescriptPort) for where I stopped.

I graphed the module dependency within the project. I'll explain what the colors mean after this image.
![purescript-hedgehog-module-graph](https://user-images.githubusercontent.com/8413037/85410997-a464c280-b51c-11ea-80

[2020-06-24 14:37] moodmosaic commented on #378
@JordanMartinez, how was the module dependency graph created?

[2020-06-24 19:32] JordanMartinez commented on #378
@moodmosaic Manually while using [yEd](https://www.yworks.com/products/yed) to do it and then using its auto-layout feature.

[2020-08-12 14:03] Tarmean opened #393 "Export genActions and mkContext from Hedgehog.Internal.State"
Motivation: I am trying to test a model that has dependencies between steps. Some steps require 9 previous steps to create various resources. There are enough irrelevant transitions that these parts of the model aren't exercised at all given random commands.

To test these parts, I'd like to split the state machine into two parts: First, run some prefix which reaches some target state. Then contin

[2020-08-18 22:38] charleso opened #395 "Add examples to jlink shrinking challenge"
There’s a jlink repository targeted at comparing shrinking behaviour of various PBT libraries: https://github.com/jlink/shrinking-challenge

[2020-09-15 23:07] newhoggy opened #399 "Need way to perform work upon test failure"
In particular, when a test fails, I'd like a way to perform some `IO` action to read a file and annotate it.

It is insufficient to do the annotation before the assertion because the file is a log file that is growing and will not contain all the information I need, hence the desire to add the annotation at the point of failure.

[2020-09-16 06:58] ocharles commented on #399
It sounds like all you want is `onException` from the `exceptions` library. I believe test failure is just raising an exception

On Wed, 16 Sep 2020, at 12:07 AM, John Ky wrote:

[2020-09-16 10:33] newhoggy commented on #399
Are exceptions considered part of the API?

[2020-09-23 19:59] dbeacham opened #400 "A counterpart to `diff`"
I have a few properties that I want to check that are best expressed as negations, so rather than

[code]

I end up with

[code]

I can obviously define a helper for my use case

[code]

 but might be useful to have such a function in the library? Although I haven't thought of a good name for it.

[2020-10-01 10:34] HuwCampbell commented on #399
[code]

It doesn't use exceptions for failures, though it does catch them. But you can unwrap and rewrap these types as much as you like.

[2020-10-02 04:39] newhoggy commented on #399
I got it working:

[code]

[2020-10-02 08:15] moodmosaic commented on #399
@newhoggy, great :+1:  Feel free to paste an example here, if that's easy for you, for anyone else that might be looking into this in the future.

[2020-10-06 03:13] newhoggy commented on #399
This is the code I used to expose the ability to catch and throw assertions:

https://github.com/input-output-hk/cardano-node/blob/master/hedgehog-extras/src/Hedgehog/Extras/Test/MonadAssertion.hs

The `runFinallies` function is defined here:

https://github.com/input-output-hk/cardano-node/blob/5106f637233a9f2c12faaca571b78378714b4d0a/hedgehog-extras/src/Hedgehog/Extras/Test/Base.hs#L362

And `on

[2020-10-06 03:24] newhoggy commented on #399
I'd love for something like this to be upstreamed into `hedgehog`.

[2020-10-06 08:08] EarthCitizen commented on #368
I was getting ready to open an issue to request `evalMaybe` and found this. +1

[2020-10-06 14:49] ocharles opened #401 "Need a way to label state machine tests"
From what I can see, we don't have a way to label or do coverage for state machine tests. Once we generate sequential actions, we just get a list of `Action`, but this is entirely opaque. Maybe `Command` should gain a label field, and this should be copied into `Action` as `actionLabel`?

If the maintainers of Hedgehog agree, I'll prepare a pull request.

[2020-10-06 15:05] ocharles opened #402 "Change Ensure to be polymorphic over m"
Currently we have

[code]

I propose we change this to

[code]

This will also need us to change

[code]

to be

[code]

My argument is `Command` already has an `m` which in practice will have to be `MonadTest` (as required by `executeSequential`). By using `m` here, we can use all the ambient effects that are available when we execute steps from commands. In particular, this lets me call other pa

[2020-10-06 15:25] ocharles commented on #401
Ah, I guess this is really the purpose of `Input`. Right now I'm using some reusable combinators, but if each command has its own `Input`, I can pattern match on `actionInput`. `actionInput` is internal though, so if we want to do this, we should add that to the public API.

[2020-10-06 15:31] ocharles opened #403 "Replace HTraversable with Data.Functor.Barbie.TraversableB"
While I've never been particularly excited about the names in the `barbies` library, it's still an excellent library. A benefit of using their `TraversableB` class (which is our `HTraversable`) is that it has a generic definition, so most things can be:

[code]

and it *just works*. This is a pretty huge productivity boon!

[2020-10-06 15:47] ocharles commented on #401
Sorry, more thinking out loud. `actionInput` isn't much use, because it's existential - I can't really _do_ anything with it, other than `Show` it - but that's far too big for a label (though `head . words` would at least "work" for now).

[2020-10-16 06:17] HuwCampbell commented on #401
You can use the standard `label`, `cover`, and `classify` functions inside the `commandExecute` record of commands (you can also put it in an `Ensure` callback).

You just need a `MonadTest` and `MonadIO` constraint.

[2020-10-16 06:23] HuwCampbell commented on #401
[code]

[2020-10-16 08:29] ocharles commented on #401
But that will only work _if_ a command gets executed. It won't fail the test if the command is never executed, because the `cover` will never be reached.

[2020-10-16 09:13] HuwCampbell commented on #401
No that's not right. Not mentioned counts as not covered, and the monoid for coverage acts like `Any` from `Data.Monoid`.

If the case isn't hit, it'll count as not being performed in a particular test.

[2020-10-16 09:14] ocharles commented on #401
Ok, I don't quite understand - how does Hedgehog even know there's a label called "register" (in your example), if that `execute` is never called (for example, the precondition is never met). Would you need another call before you run state machine tests to add all possible labels?

[2020-10-16 09:18] HuwCampbell commented on #401
If a label is never ever called, it won't know about it and the coverage test won't work.

If it gets called once in the set of runs, it'll know about it and can perform a reasonable coverage test.

[2020-10-16 09:21] ocharles commented on #401
Ok, so `cover 1 "rare but possible"` might never fail a test if this rare command is never, due our random command selection never being fortunate enough to hit it. That's the case I'm trying to solve - I want a test failure then.

That said, it sounds like my best option is:

* For every `Command`, pre-register a label for this command with `cover` before running any tests.
* For every `Command`,

[2020-10-16 15:20] ocharles commented on #401
To answer my own question, yes, that's the correct way to do this. Closing! Thanks for the help, @HuwCampbell !

[2020-10-16 15:20] #401 closed

[2020-10-16 15:21] ocharles commented on #402
As mentioned in https://github.com/hedgehogqa/haskell-hedgehog/pull/404, I have an alternative and am no longer convinced this is necessary.

[2020-10-16 15:21] #402 closed

[2020-10-28 09:39] ocharles opened #407 "Should Hedgehog.Gen.choice "skip" discards?"
I just ran into something strange with property testing:

[code]

This surprised me, especially once I reduced my state machine tests to just one command: one to look them a resource, allowing for the case for the resource id to be missing. This should be fine, I thought - all tests would just repeatedly try and look up a missing resource. A useless test, but we should never be in a situation wher

[2020-10-28 09:41] ocharles commented on #407
I tried to compare against `QuickCheck` and it looks like they have no notion of a discard limit, but my test would be equal stuck there - `choice` has the same behavior, but the selected `Gen` would just forever try to produce data and fail.

[2020-11-02 11:03] ocharles commented on #407
I guess this is more fundamental then `choice` actually:

[code]

I imagine this is due to the monadic bind being too strong. The `integral` call succeeds, but the `guard` fails, but there's currently no way to backtrack to re-run `integral`.

[2020-11-09 20:04] TysonMN commented on #118
@HuwCampbell said in https://github.com/hedgehogqa/haskell-hedgehog/pull/406#issuecomment-709617637 that issue was fixed by that PR.  Does someone want to test if this issue is gone?

[2020-11-09 20:27] moodmosaic commented on #118
@TysonMN, here are some sample outputs:

[code]

[code]

It appears that #406 closes this one.

[2020-11-09 21:02] #118 closed

[2020-11-20 16:20] #368 closed

[2020-12-02 14:40] domenkozar commented on #215
Here are the imports for the given example in issue description:

[code]

As for merging this function, what's the harm to have it in hedgehog package given that `time` is part of GHC and no extra dependencies are needed?

[2020-12-07 14:12] ocharles commented on #403
Do the maintainers have any thoughts on this? I'm still interested in this

[2020-12-07 14:29] jacobstanley commented on #403
I don't mind moving to a standard thing.

I think there are a few options, I remember looking at [rank2classes](https://hackage.haskell.org/package/rank2classes-1.4.1/docs/Rank2.html#t:Traversable) at one point, I think that's also the same.

I think there may even have been another package too but I can't quite remember the name.

[2020-12-07 14:32] ocharles commented on #403
My main desire with a move to `barbies` specifically is due to its ability to work with `DeriveAnyClass`. If others can do that - great! But that's the feature I'm really looking for. We could of course roll that ourselves, but it seems easier to just shift this work to any other existing library.

[2020-12-07 15:03] jacobstanley commented on #403
Looking through the slack history it was `barbies` that was the "other" library haha

@HuwCampbell had a branch at one point as an experiment, we could bring that up to date:
https://github.com/hedgehogqa/haskell-hedgehog/compare/master...HuwCampbell:topic/barbies?expand=1

[2020-12-12 13:25] ocharles commented on #403
It sounds like you're generally in favor of this idea, so I'll take that branch (or start a fresh one) and try and use `barbies`. Hopefully get a PR soon!

[2021-02-27 17:46] sjakobi opened #416 "Support for GHC 9.0.1"
Building with `--allow-newer` currently results in a build failure. This patch should help: https://gitlab.haskell.org/ghc/head.hackage/-/blob/ea1b6b35e46870fea5a9596fcac8df0b9cd105bd/patches/hedgehog-1.0.4.patch

[2021-02-27 23:12] amesgen commented on #416
It builds fine on master with GHC 9.0.1, I think it only needs a release.

[2021-02-28 05:29] moodmosaic commented on #416
Yep, planning for a release this week.

[2021-03-02 13:29] moodmosaic commented on #416
@sjakobi, thank you for opening this! Should we close this in favor of https://github.com/hedgehogqa/haskell-hedgehog/pull/392?

[2021-03-02 13:31] sjakobi commented on #416
@moodmosaic Feel free to close. I'd love to get a ping once you've uploaded a compatible release though! :)

[2021-03-02 13:33] moodmosaic commented on #416
Sure! Let's close it once the release is out, hopefully this week.

[2021-03-04 17:22] moodmosaic commented on #416
@sjakobi, we'll do the release once we merge #414 and #415 by @HuwCampbell. Hope that's not blocking you. If it does, please let us know.

[2021-03-04 20:39] HuwCampbell commented on #416
I'll fix these up today.

[2021-03-11 11:35] vrom911 commented on #416
Thanks a lot for working on this, everyone!

@moodmosaic seems like both of the mentioned PRs are merged now. Do you have any estimates on the releasing? And do you probably need any extra help in order to speed up this one? 🙂

[2021-03-11 11:38] moodmosaic commented on #416
Unfortunately I got sick 😥 so it might take a few days more, unless @jacobstanley can do it today or tomorrow.

[2021-03-11 11:45] sjakobi commented on #416
Get well soon, @moodmosaic! :) FWIW, my need for a compatible hedgehog release is not particularly urgent.

[2021-03-11 12:40] vrom911 commented on #416
Get well soon, @moodmosaic ! No worries, this could, of course, wait. Take care of yourself first 🤗

[2021-03-12 11:03] #416 closed

[2021-03-29 08:24] ocharles opened #419 "Hedgehog.Gen.recursive can't be used with frequency"
The document writes:

But the type of `recursive`:

[code]

doesn't allow for `frequency`, which is

[code]

Clearly this is not a `[m a] -> m a`.

I think it may just be that the type of `recursive` is overly specific.

[2021-05-08 03:18] #403 closed

[2021-06-10 21:09] dmjio commented on #110
`export LC_ALL=C.UTF-8` worked for me

[2021-06-10 21:10] moodmosaic commented on #110
Thanks! Good to know that.

[2021-06-23 06:07] gwils commented on #419
I came here to report this. Ideally `recursive` should be generalised somehow. In my code base we've just defined

[code]

as a specialised version.

[2021-06-25 20:52] simfleischman commented on #201
Are there any objections to applying this patch in a PR to the master branch?

[2021-06-29 10:36] moodmosaic commented on #201
Not that I know of 👍

[2021-06-29 16:28] simfleischman commented on #201
Great, #424 is ready to go from my perspective. I'm happy to change as needed.

[2021-06-29 21:39] chris-martin opened #425 "Async exceptions should be handled differently?"
I often leave ghcid running with the `--test` flag to continually re-run tests. When I'm editing files more rapidly than the tests can run, there are a lot of occasions when ghcid will kill the test runner before it's finished. When the happens, I see some arbitrary hedgehog test failure pop up, with its beautiful annotated exception view, pointing at whatever property happened to be checking at t

[2021-07-01 18:36] saurabhnanda opened #426 "Test suite hangs during shrinking?"
Are there any known cases where property tests written in the following structure would hang during shrinking:

[code]

[2021-07-01 21:41] ocharles commented on #426
We're almost certainly going to have to have more to go on than that. Are you certain it's actually shrinking, and not just constantly rerunning your test but not failing?

[2021-07-27 01:01] treeowl opened #428 "Add partition generation"
When producing certain sorts of recursive structures, it would be very useful to have functions like

[code]

Each would take a non-negative integer and produce a list of strictly positive integers that sum to that integer. `genPartition` would generate partitions of all sizes; `breakInN` would take an argument indicating the desired length of the result list, and would fail if asked to produce an

[2021-07-29 21:29] treeowl commented on #425
Yes, I believe there are times. Suppose, for example, that the code being tested deadlocks on an `MVar` or an `STM` transaction.

[2021-07-30 17:27] chris-martin commented on #425
Hmmm, I see. Okay, I suppose this is a bad idea then.

[2021-07-30 17:27] #425 closed

[2021-07-31 12:37] mitchellwrosen commented on #425
Jfyi, those aren't actually asynchronous exceptions, @treeowl! Nonetheless I think I agree that they should not be treated specially

[2021-08-01 12:09] brprice opened #429 "Output of failing property is confused by comments between signature and definition"
With certain comment placement, the output of a failing test can be rather confusing, with failures and annotations ascribed to the wrong source lines.

#### The bug

Consider the file
[code]
which has comments between `prop_bug :: Property` and `prop_bug = ...`.

The output of this failing test attaches annotations and failures to the wrong source lines. It also attaches the line numbers incorrec

[2021-09-05 02:03] shinzui opened #430 "Bump time dependency"
Is it possible to upgrade `time` to at least 1.11?

[2021-09-05 16:42] shinzui commented on #430
I opened a PR #431.

[2021-09-07 17:27] #430 closed

[2021-09-08 08:56] moodmosaic opened #432 "Replace AppVeyor and Travis CI with GitHub actions"
It'd be nice to replace AppVeyor (Windows builds) and Travis CI (Linux builds) with just a single cross-platform GitHub actions file.

@chshersh's [article](https://kodimensional.dev/github-actions) and @mrkkrp's [article](https://markkarpov.com/post/github-actions-for-haskell-ci.html) can be a good starting point for that.

[2021-09-10 17:27] rndnoise opened #433 "Question regarding list generation"
I'm reading some of the code to better understand how this library works, and I saw this definition of [`Gen.list`](https://github.com/hedgehogqa/haskell-hedgehog/blob/c94430bdadbfa49c8fec4b03d97c944e31229059/hedgehog/src/Hedgehog/Internal/Gen.hs#L1440). Can you explain the use of `ensure (atLeast ...)` here?

From what I can tell, it is checking that the generated list is at least as big as the l

[2021-09-21 04:30] moodmosaic commented on #432
Resolved via #434.

[2021-09-21 04:30] #432 closed

[2021-10-05 10:47] newhoggy opened #435 "Diff showing lines as different when they are actually the same"
In the following example:

[code]

[2021-10-05 12:41] TysonMN commented on #435
Can you share a repository that reproduces this issue?

[2021-11-13 10:18] andreasabel opened #437 "README suggests this is just QuickCheck rebranded"
Hi, I was passing by here and looked into your shop window (README).
As QuickCheck user, I did not find anything that I not already had, so I was not attracted into your shop.

Maybe the README could be improved to tell me what hedgehog can do that QuickCheck cannot.  (Classic _related work_ section.)

[2021-11-30 22:22] kvanbere commented on #437
Yes, the headline says "automatic" generation of test cases, but the example shows that the linear range is defined ahead of time, which I could just do in any other test library. I want to understand what it means by automatic.

[2021-12-02 09:19] etorreborre opened #440 "Publish a new 1.1.0 version"
Would it be possible to publish a new version with the latest change, like the deprecation of `HTraversable`? Thank you

[2021-12-08 18:12] jcarr-awake opened #441 "Gen.realFrac_ can produce values outside of the bounds of the Range (and might miss values)"
The realFrac_ generator uses the method `realToFrac` and a double scalar in order to smoothly interpolate between the two endpoints of the range. This causes types to round trip through Double, and may cause them to lose precision. While this is perhaps undesirable on the middle of the range by missing values, it can be particular problematic on the edges. There is no guarantee for RealFrac that t

[2021-12-08 19:28] rndnoise commented on #433
Eventually I figured it out. That bit ensures shrunken lists aren't smaller than the given lower bound.

[2021-12-08 19:28] #433 closed

[2021-12-30 00:48] kozross commented on #440
This is quite germane, as the current Hackage version doesn't support GHC 9.2.

[2021-12-30 21:17] sjakobi opened #443 "Compatibility with text-2.0"
See https://hackage.haskell.org/package/text-2.0/changelog.

Could you upload a compatible version? Thanks! :)

[2022-01-06 00:33] chris-martin opened #444 "Subset generator"
I'd like to propose adding a function to `Hedgehog.Gen`:

[code]

This is something I find myself doing somewhat often, and for some reason I have a hard time remembering that `subsequence` is the way to go about it.

[2022-01-10 08:08] chris-martin commented on #440
What is the obstacle to a release? Is there anything that can be done to help?

[2022-01-10 08:31] ocharles commented on #440
I think a lack of time. I would happily join the team to help with routine work like releases, if it would help!

[2022-01-10 09:05] chris-martin commented on #440
Same, I'd love to be able to do some of the mundane work.

[2022-01-27 06:50] jacobstanley commented on #444
I like it, I'd accept a PR 👍

(also can it be `Set.fromAscList`)

[2022-01-27 06:50] jacobstanley commented on #440
Thanks for your patience all 🙏

[hedgehog-1.1](https://hackage.haskell.org/package/hedgehog-1.1) has now been published.

You are right @ocharles, December was a bit of rough month for me so I didn't have time to look at this. I'd be open to having someone help with this kind of routine stuff.

[2022-01-27 07:11] #440 closed

[2022-01-27 07:15] jacobstanley commented on #437
Yeah fair criticism!

The readme is currently not assuming anything about the reader, but obviously many (all?) Haskellers are or have been QuickCheck users.

[2022-01-27 07:18] jacobstanley commented on #428
This would be pretty awesome, I've thought a lot about trying to generate random programs and I can see this being related to the issues you see there.

[2022-01-27 07:26] treeowl commented on #428
I guess we'd also want versions that could also produce zeros. I have not thought about the how since submitting this issue.

[2022-01-29 06:13] jacobstanley commented on #201
Merged #446 (which is an update of #424)

[2022-01-29 06:13] #201 closed

[2022-01-29 06:30] jacobstanley commented on #443
I attempted to do this and we need [wl-pprint-annotated](https://hackage.haskell.org/package/wl-pprint-annotated) and [concurrent-output](https://hackage.haskell.org/package/concurrent-output) to be updated also.

Also: UTF-8 amazing! I never thought that would actually happen 🎉

[2022-01-29 06:41] jacobstanley commented on #201
Available in [hedgehog-1.1.1](https://hackage.haskell.org/package/hedgehog-1.1.1)

[2022-02-04 16:37] ysangkok commented on #443
I have sent a patch to Joey (maintainer of concurrent-output) and made a PR for the other:

* minad/wl-pprint-annotated/pull/9

[2022-02-05 00:52] kozross commented on #443
@jacobstanley I think `concurrent-output` has also moved to support `text-2.0`.

[2022-02-12 00:24] newhoggy opened #447 "File path and line number can improve readability of test output when source files cannot be found"
At the moment, when `hedgehog` cannot find the source files, it outputs text that looks like this:

[code]

This is fine when the test is small, but for larger tests, it is difficult to find out where these correspond to the code.

It would be better if in these cases the path to the source file and line number were also included in the output.

[2022-02-14 17:01] ysangkok commented on #443
@jacobstanley The two dependencies you mentioned have been updated and they now support text 2.0.

[2022-02-15 21:16] chris-martin commented on #444
Oh cool, I think you're right. Just to make sure, `subsequence` generates a list where the elements are in the same order but not necessarily contiguous in the input list, right? So for example, `Gen.subsequence (1 .. 5)` could generate `[2, 4]` but not `[4, 2]`? (I might also submit a doc PR on that to clarify.)

[2022-02-17 06:46] chessai commented on #419
Also just came here to report this.

[2022-02-17 18:26] ChickenProp opened #448 "When a Command shrinks, later commands depending on it are dropped"
...I think. Apologies if I'm misinterpreting what's going on, I'm not sure how to easily check.

I have a "setup" command, generating a Grid to insert into the database. Executing the action returns a GridId for it, which the update puts into the state along with the Grid. So the state is basically `Maybe (Grid, Var GridId v)`, and setup is only valid to generate when the state is `Nothing`.

Then

[2022-02-18 11:28] ChickenProp commented on #448
Sure thing. I think the following is minimal. The "setup" action generates something that can shrink, and saves a Var to the state. The "validate" action reads that Var and fails.

[code]

After shrinking, I'd expect the minimal counterexample to be `InputSetup 0, InputValidate (Var ())`. But instead it's `InputSetup 100, InputValidate (Var ())`, after trying all of `InputSetup (0,1,2,3,4)` with n

[2022-02-21 08:15] chris-martin commented on #444
Actually, better yet, it can be `Set.fromDistinctAscList`.

[2022-02-21 17:42] ChickenProp opened #452 "Applying Gen.filter to Gen.sequential can cause shrinking to spin"
This might only happen if there's an infinite shrink loop, I'm not sure. I haven't found one in the actual code I'm working on, but I can't yet rule out that it exists. Even given that there's an infinite shrink, the example code isn't working how I expect, but I might be misunderstanding.

I discovered this while working on the same set of tests as for #448. As there, I have a "setup" command and

[2022-02-21 18:10] ChickenProp commented on #452
Quick update: I've now tried my actual codebase many times with `mapGenT`/`filterT`, and haven't yet hit an infinite shrink loop. It's conceivable I just haven't run into it (the same seed gives different values compared to `filter`), but I think it's most likely that the spinning here can show up without an infinite shrink loop.

[2022-02-22 01:22] #444 closed

[2022-03-05 07:44] #443 closed

[2022-03-09 09:24] gwils commented on #443
Can you please release this as a metadata revision or new version?

[2022-04-22 15:46] zmrocze commented on #110
One can arrive at this issue when running from `nix-shell`. Apparently there are some [problems](https://github.com/NixOS/nix/issues/599) and the [solution from a similar problem](https://github.com/NixOS/nix/issues/599#issuecomment-130359048) worked for me. I guess it does no harm if I repeat it here:

or to different appropriate path [see links ^].

[2022-05-23 01:55] #448 closed

[2022-06-06 02:16] #25 closed

[2022-06-07 10:40] moodmosaic commented on #127
Resolved via https://github.com/hedgehogqa/haskell-hedgehog/pull/253, https://github.com/hedgehogqa/haskell-hedgehog/pull/262, https://github.com/hedgehogqa/haskell-hedgehog/pull/288, and https://github.com/hedgehogqa/haskell-hedgehog/pull/289.

[2022-06-07 10:40] #127 closed

[2022-06-08 11:14] AriFordsham opened #458 "Is there a way of limiting retries from within a generator?"
I would like to be able to write a generator that restricts the number of times a shrink can be retried.

The API has only `withRetries` that works on a `Property`.

Is there a way of doing this (or equivalent) from within the `Gen` monad?

[2022-06-09 11:53] TysonMN commented on #458
It sounds to me like you are asking for a particular solution instead of describing your problem (aka the [XY problem] (https://en.wikipedia.org/wiki/XY_problem)).

Can you describe your problem?

[2022-06-09 15:58] ChickenProp opened #459 "Return multiple Vars from a single Command"
I have a state machine where one Command's output type is `(FooId, BarId)`. That gets put into the model, so I have `ids :: Var (FooId, BarId) v` in my state. Then any time I want to pass either `FooId` or `BarId` into a `commandExecute`, it needs to get both of them and deconstruct.

I think it would be possible to change things so each Command can return multiple Vars at once. The state would ge

[2022-06-10 13:49] ocharles commented on #459
This is an interesting idea. My usually approach for returning multiple values is to work within the framework that Hedgehog gives us, but to then essentially store defunctionalized functions to extract elements where I need them.

So let's say you have something that outputs `(FooId, BarId)`, and something later needs just a `FooId`. First, for my state type I would store:

[code]

And I then cre

[2022-06-19 11:41] #458 closed

[2022-06-19 11:45] AriFordsham opened #460 "Is there a way to 'catch' test failure in the `PropertyT` monad?"
I would like to write a property combinator that wraps other properties, and performs further actions, even if the test fails. A simple example would be a `shouldFail` combinator

[code]

That succeeds only if its argument fails.

Is this possible, even if it means using internal Hedgehog APIs?

[2022-06-19 14:04] ocharles commented on #460
I think you can just use https://hackage.haskell.org/package/lifted-base-0.2.3.12/docs/Control-Exception-Lifted.html#v:onException

[2022-06-19 14:08] AriFordsham commented on #460
Not so. That will catch exceptions thrown within a test. It will not catch test failure (e.g. `assert False`) which does not throw an exception, but rather embeds a failure value somewhere in the monad stack.

[2022-06-20 12:37] AriFordsham commented on #460
[code]
with `catch` from `Control.Exception.Lifted` causes test failure.

[2022-06-20 13:47] AriFordsham commented on #460
The only way I succeeded was:
[code]
[code]
[code]

[2022-06-20 13:47] #460 closed

[2022-06-23 12:35] ChickenProp commented on #459
Oh, I now think these constraints are too weak if we want to avoid runtime crashes.

The problem is that we need to be able to pair off the vars created during the symbolic run with those created during the concrete run. That's fine with something like `Tuple2B`, because `Tuple2B a b Symbolic` always has two `Name`s and `Tuple2B a b Concrete` always has two concrete values.

But it doesn't work wi

[2022-09-15 15:02] parsonsmatt opened #467 "Document `sample` with caveats and warnings"
Our codebase test suite is littered with `Gen.sample`, which has a bunch of negative properties:

1. `Gen.sample` doesn't accept a seed and can't be made deterministic from a CLI argument
2. People think they're getting a property test, when they're really getting a non-deterministic random unit test
3. It's slower than just having a bit of data around as a fixture

I can't really blame them - we

[2022-09-16 11:02] #467 closed

[2022-10-03 23:44] spacekitteh commented on #160
I would really like to know the answer to this!

[2022-10-04 04:31] spacekitteh commented on #113
Ooof, this hasn't got an answer? D:

[2022-10-04 08:25] ocharles commented on #113
@spacekitteh Maybe not an answer, but https://github.com/hedgehogqa/haskell-hedgehog/issues/459 explains some of my current thoughts on this.

[2022-10-06 22:24] spacekitteh commented on #459
@ocharles that's a huge help, thanks!

[2022-10-10 12:37] ocharles commented on #160
@spacekitteh can you explain more about what it is you're trying to do, and why you want access to effects in post-conditions? I'm not convinced about the need for this functionality.

[2022-10-12 05:45] spacekitteh commented on #160
To check STM stuff without having to put `unsafePerformIO` everywhere; for example, checking the contents of containers in `stm-containers`.

[2022-10-12 07:48] ocharles commented on #160
I'm afraid that still doesn't convince me of the need for effects in post-conditions. I understand HH state machine testing as testing a black box - you probe the blackbox and get some kind of response when you talk to it in `commandExecute`. Then, you verify the response against what you _expect_ the machine to be doing, in `commandCallbacks`. If you're using `STM`, then I'd assume a call to `ato

[2022-10-13 05:27] spacekitteh commented on #160
Nope. I'm trying to test an API which builds a sort of network/graph; each node (which can be from a number of different constructors) has references to other nodes in TVars and `StmContainers.Set`'s. Further, these nodes have a `StmContainers.Multimap` of messages in them which, in turn, reference other messages, and the messages have a "history" tree of nodes which lead to the creation of them.

[2022-10-13 08:50] ocharles commented on #160
Ok, unfortunately I'm still missing the reason why a call to `atomically` isn't possible/ergonomic. From what I can tell, you'd be equally stuck with [`QuickCheck-state-machine`](https://hackage.haskell.org/package/quickcheck-state-machine-0.7.1/docs/Test-StateMachine.html#t:StateMachine). This isn't to say "well these things are both doing this so you _must_ be wrong", but when I'm in a situation

[2022-10-13 22:15] spacekitteh commented on #160
The call to `atomically` is fine; it's the `unsafePerformIO` I don't like :)

Here's what I'm working on: https://gitlab.com/spacekitteh/cosmothought/-/tree/master/core

Specifically, I want to test graphs produced by this: https://gitlab.com/spacekitteh/cosmothought/-/blob/master/core/src/Core/Rete/ReteBuilder.hs

Here's the code testing it: https://gitlab.com/spacekitteh/cosmothought/-/blob/mast

[2022-10-19 00:56] spacekitteh opened #469 "Scoped coverage checking and confidence"
Testing my state machine code, I've noticed that when I have, say,

[code]

then that seems to translate to being 40% of ALL cases, not only the cases when `someRareCondition` is true. Is there a way to take that into account? If I were to modify the predicate to  `not someRareCondition || isJust sub` in the argument of `cover`, then the coverage numbers would be severely inflated by all the times

[2022-10-19 21:34] spacekitteh commented on #469
That's precisely what this is: `not someRareCondition || isJust sub`. `a ==> b === not a || b` (at least classically!)

If it's guarded by a `when`, then the call to `cover` will only ever occur when the `when` condition is true.

I haven't looked into it, but I suspect that the `cover` function increments a counter when the predicate is true, and after all the tests, simply divides the counter va

[2022-10-19 21:42] spacekitteh commented on #469
After checking the code, that does indeed seem to be the case. `CoverCount` could be modified to be a pair of numbers; instead of dividing by the number of tests in `coverPercentage`, it could just divide by the second number.

[2022-10-24 01:27] spacekitteh commented on #469
@jacobstanley is this correct?

[2022-10-24 01:28] spacekitteh commented on #469
It'd probably be useful to have a `cover` and `coverAbsolute`, with the latter having the current functionality.

[2022-11-24 03:16] kokobd opened #470 "Provide MonadUnliftIO instance for PropertyT?"

[2022-11-25 07:59] ocharles commented on #470
I'm not sure such an instance exists. `MonadUnlirtftIO` is for monads essentially isomorphic to ReaderT, and I'd be surprised if either `PropertyT` or `TestT` are